// Place all the styles related to the users/Notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.note-form{
	
}

.note-form-browsable{
	text-align: center;
}

.note-form-view-point{
	text-align: center;
}

.note-view-point{
	text-align: center;
	width: 10%;
	margin-right: 45%;
	margin-left: 45%;
}
/*スライドにしたい*/

.note-form-view-point-field{
	text-align: center;
	width: 50%;

}

.note-form-title{
	text-align: left;
}

.note-form-overview{
	text-align: left;
}

.note-preview-container{
	width: 100%;
	margin-top:30px;
	height: auto;


}

.left{
	float: left;
	margin-left: 30%;
}

.right{
	float: right;
	margin-right: 30%;

}



.note-content-post{
	width: 100%;

}


.note-form-content{
	text-align: left;
	width: 45%;
	height: 100%;
	margin-left: 2%;
	margin-right: 2%;

}


.preview{
	float: right;
	width: 45%;
	height: 100%;
	margin-left: 2%;
	margin-right: 2%;
	overflow: auto;
	border: groove;
}
/* スクロールが自動で下に行かない*/


.note-button{
	text-align: center;
		width: 10%;
	margin-right: 45%;
	margin-left: 45%;
}

.note-main{
	
	}

.note-container{
	width: 90%;
	margin: 5%;
	
}

.note-search{
	text-align: center;
}



.note-all{

	border: ridge;
}

.note-one{
	border: groove;

}

.note-search-form{
	width: 50%;
}



.note-type {
background:#fff;
font-size: 14;
}

.note-title{
	text-align: center;
	font-size: 25;
}

.note-show-title{
	text-align: center;
	font-size: 40px;
}

.note-overview{

	text-align: center;
	
}

.note-show-overview{
	text-align: center;
	font-size: 30px;
	margin: 15px;
}

.note-content-include-postscript{
	border: groove;
}

.note-content{

	
}

.note-create-information{
	text-align: right;
}

.note-contributor{
	


}

.note-create-date{
	

}

.note-contributor-only{
	text-align: right
}

.postscript-all{
 	margin-top: 20px;

}

.postscript-one{
	border: groove;
	margin-bottom: 10px;
}

.postscript-postscript{
	
}

.review-all{
	margin-top: 20px;
	margin-bottom: 20px;
	border: groove;
}

.review-one{
	border: groove;
	margin-top: 10px;
}

.review-quality{
	
}

.review-review{
	font-size: 25px;
}
.review-user{
	
}

.review-created-date{
	
}

.review-form{
	text-align: center;
}

.review-form-quality{
	margin: 7px;
}

.review-form-review{
	margin: 7px;
}

.review-form-is-appending{
	margin: 7px;
}

.review-button{
	
}
.purchase-button{
	
}

.bookmark-button{
	
}