// Place all the styles related to the users/Notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main{
	
	}

.container-fluid{
	
}

.note-search{
	text-align: center;
}



.note-all{
	border: ridge;
}

.note-one{
	border: groove;
	
}

.note-search-form{
	width: 50%;
}



.note-type {
background:#fff;
font-size: 14;
}

.note-title{
	text-align: center;
	font-size: 25;
}

.note-overview{
	text-align: center;
	font-size: 20;
}

.note-contributor{
	text-align: right;


}

.note-create-date{

}