// Place all the styles related to the users/Points controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




.point-container{
	font-size: 20px;
	margin: 2%;
	padding: 10%;
	margin-bottom: 35px;


}

.point-charactor{
	width:30%;
	font-size: 40px;
}

.point-status{
	width: 100%;
	margin-bottom: 30px;
	border: groove;
	background-color: black;
}

.point-status-name{
	font-size: 40px;
}
#user-name-name{
	font-size: 40px;
	color: #00CCFF;
}

.point-status-point{
	font-size: 20px;
}

.point-button{
	
	
}

.point-all{
	text-align: center;
}

.point-one{
	margin-bottom: 35px;
	border: groove;
	background-color: black;
}

.point-created-date{
	
}

.point-point{
	
}

.point-reason{
	
}



.point-new-text{
	font-size:30px;
	marigin-bottm: 40px
}

.point-new-get{
	margin-top: 35px;
	margin-bottom: 35px;
	border: groove;
}

.point-new-get-text{
	
}

.button-point-new{
	
}

.link-subscriptions-path{
	
}



















