// Place all the styles related to the users/subscriptions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.subscription-body{
	text-align: center;
	width: 100%;

	padding: 5%;
}

.subscription-container{
	font-size: 20px;
	margin: 2%;
	padding: 10%;
	margin-bottom: 35px;

	color: black;
}

.subscription-new-text{
	font-size:30px;
	marigin-bottm: 40px
}

.subscription-index-text{
	
}


.subscription-new-get{
    position: relative;
    background: #fff0cd;
    box-shadow: 0px 0px 0px 5px #fff0cd;
    border: dashed 2px black;
    padding: 0.2em 0.5em;
    color: #454545;
    margin-bottom: 5%;
}
.subscription-new-get:after{
    position: absolute;
    content: '';
    right: -7px;
    top: -7px;
    border-width: 0 15px 15px 0;
    border-style: solid;
    border-color: #ffdb88 #fff #ffdb88;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
}

.subscription-new-get-text{
	
}

.button-subscription-new{
	
}

.subscription-button{
	
}

















