// Place all the styles related to the users/subscriptions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.subscription-body{
	text-align: center;
	width: 100%;
	border: groove;
	padding: 5%;
}

.subscription-container{
	font-size: 20px;
	margin: 2%;
	padding: 10%;
	margin-bottom: 35px;
	border: groove;
}

.subscription-new-text{
	font-size:30px;
	marigin-bottm: 40px
}

.subscription-index-text{
	
}

.subscription-new-get{
	margin-top: 35px;
	margin-bottom: 35px;
	border: groove;
}

.subscription-new-get-text{
	
}

.button-subscription-new{
	
}

.subscription-button{
	
}

















